@font-face {
  font-family: "Fira";
  src: url("../fonts/Fira/FiraSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Fira";
  src: url("../fonts/Fira/FiraSans-ExtraBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 900;
}

@import './media.css'
